VITE_UPLOAD_DESTINATION=local # Can be 'local' or 's3'

# If VITE_UPLOAD_DESTINATION=s3, you must provide AWS credentials below:
VITE_AWS_REGION=us-east-1
VITE_AWS_ACCESS_KEY_ID=your_aws_access_key
VITE_AWS_SECRET_ACCESS_KEY=your_aws_secret_key
VITE_AWS_S3_BUCKET=your_bucket_name
